<app-navbar></app-navbar>
<!-- (accountAdded)="onAccountAdded($event)" -->
<!-- <app-new-account></app-new-account> -->
<!-- (statusChanged)="onStatusChanged($event)" -->
<!-- <app-account *ngFor="let acc of accounts; let i=index" [account]="acc" id={{i}}

  ></app-account> -->
<div class="m-auto p-0 pt-16 w-full mb-10" style="position: relative;padding-bottom: 3em;">
  <div class="row m-0 p-0 w-full min-h-screen absolute">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="bg-color-primary-1 z-50 shadow dark:bg-color-primary-1"style="position: fixed;width: 100%; height: 100px; bottom: 0;">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
            <img src="https://media.licdn.com/dms/image/C5603AQHzHIytmn0oTA/profile-displayphoto-shrink_800_800/0/1599739880991?e=2147483647&v=beta&t=zGPffFpgI0YtTvbiEYQkmVIGdzL34Yth7JbBAIwTgec" class="h-8 mr-3 rounded-2xl scale-150" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-black">Fashion</span>
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-black">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>
</div>
</footer>
